*{
    margin: 0;
    padding: 0;
}

h1{
 background-color: rgb(119, 24, 163);
 color: white;
}

form{
    padding: 10px;
    background-color: violet;
}

form label{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2rem;

}

