*{
    margin: 0;
    padding: 0;
}

h1{
 background-color: rgb(119, 24, 163);
 color: white;
}

form{
    padding: 10px;
    background-color: violet;
}

form label{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2rem;

}

.main-div{
    background-color: aquamarine;
     width: 400px;
     height: 300px;
     overflow: scroll;
     overflow-x: hidden;
     padding: 10px;
}

.sub-div{
    background-color: aqua;
    margin-top: 20px;
    padding: 20px;
}

.media{
    position: relative;
}



.media-text{
    position: absolute;
    visibility: hidden;
    width: 100px;
    background-color: rgb(12, 148, 118);
    padding: 8px;
    border-radius: 4px;
    left: 20px;
    top: 20px;
    color: white;
}

.media:hover .media-text{
    visibility: visible;
    
}

